@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
.main {
  padding-top: 70px;
  padding-left: 220px;
  width: 1037px;
  .headerContent {
    &__header {
      font-family: Inter;
      font-style: normal;
      font-weight: 800;
      font-size: 72px;
      line-height: 52px;
      padding-bottom: 15px;
    }
    &__description {
      font-family: Inter;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 52px;
      color: #aaaaaa;
      margin-bottom: 23px;
    }
  }
  .content {
    &__about {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 52px;
      color: #202020;
    }
    &__text {
      width: 584px;
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
    }
  }
}
