@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
.menu {
  width: 5vw;
  height: 100vh;
  top: 0px;
  background: #13315e;
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .menuOpen {
    position: fixed;
    width: 500px;
    height: 100vh;
    background: #13315e;
    .nav {
      font-family: "Inter";
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 52px;
      color: #ffffff;
      cursor: pointer;
      display: flex;
      flex-direction: column;

      &__main {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 52px;
        color: #ffffff;
        padding-left: 35px;
        height: 70px;
        padding-top: 20px;

        &:hover {
          background: rgba(255, 255, 255, 0.06);
        }
      }
      &__myProfile {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 52px;
        color: #ffffff;
        padding-left: 35px;
        height: 70px;
        padding-top: 20px;
        padding-left: 35px;
        padding-top: 20px;
        height: 78px;
        &:hover {
          background: rgba(255, 255, 255, 0.06);
        }
      }
      &__createPage {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 52px;
        color: #ffffff;
        padding-left: 35px;
        height: 70px;
        padding-top: 20px;
        padding-left: 35px;
        padding-top: 20px;
        height: 78px;
        &:hover {
          background: rgba(255, 255, 255, 0.06);
        }
      }
      &__exit {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 52px;
        color: #ffffff;
        padding-left: 35px;
        height: 70px;
        padding-top: 20px;
        padding-left: 35px;
        padding-top: 20px;
        height: 78px;
        &:hover {
          background: rgba(255, 255, 255, 0.06);
        }
      }
      .active {
        background: rgba(255, 255, 255, 0.06);
      }
    }
    .header {
      padding-top: 26px;
      padding-left: 35px;
      .header__name {
        font-family: "Inter";
        font-style: normal;
        font-weight: 800;
        font-size: 26px;
        line-height: 52px;
        color: #ffffff;
      }
    }
    .closeMenu {
      position: fixed;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      .content {
        height: 50px;
        width: 500px;
        display: flex;
        padding-top: 15px;
        padding-left: 35px;
        background: #0a2246;
        &__closeIcon {
          cursor: pointer;
          padding-top: 5px;
          width: 14px;
          height: 14px;
        }
        &__menu {
          padding-left: 11px;
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 17px;
          line-height: 24px;
          letter-spacing: 0.12em;
          color: #ffffff;
        }
      }
    }
  }
  .content {
    display: block;
    padding-bottom: 26px;
    &__icon {
      width: 20px;
      height: 16px;
      cursor: pointer;
      margin-left: 20px;
    }
    &__header {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 17px;
      line-height: 24px;
      transform: rotate(-90deg);
      letter-spacing: 0.12em;
      color: #ffffff;
      margin-bottom: 30px;
    }
  }
}
