@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
.navbar {
  float: right;
  width: 619px;
  height: 67px;
  border-bottom: 1px solid #f9f9f9;
  border-left: 1px solid #f9f9f9;
  &__content {
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    .navbar__header {
      padding-left: 29px;
      font-family: Inter;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      color: #0a3465;
    }
    .menu__icon {
      padding-right: 29px;
      .menu__searchIcon {
        cursor: pointer;
        padding-right: 26px;
        &:hover {
          opacity: 0.5;
        }
      }
      .menu__userIcon {
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
