@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&family=Nunito:wght@800&display=swap");
.right {
  float: right;
}

.navbar {
  margin-right: 100px;
  &__content__open {
    width: 93vw;
    display: flex;
    justify-content: space-between;
    .navbar__header {
      padding-top: 21px;
      padding-left: 29px;
      font-family: Inter;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      color: #0a3465;
    }
    .menu__icon {
      padding-right: 29px;
      .menu__searchClose {
        margin-left: 700px;
        margin-top: 25px;
        cursor: pointer;
        position: relative;
      }

      .menu__searchInput {
        position: absolute;
        outline: none;
        padding-left: 29px;
        padding-right: 100px;
        background: #f9fafd;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #798fa8;

        width: 650px;
        height: 67px;
      }
      .menu__searchIcon {
        padding-top: 21px;
        cursor: pointer;
        margin-right: 26px;
        &:hover {
          opacity: 0.5;
        }
      }
      .menu__createIcon {
        padding-top: 21px;
        margin-right: 26px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
      .menu__userIcon {
        padding-top: 21px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  &__content {
    border-bottom: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
    width: 780px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    .navbar__header {
      padding-top: 21px;
      padding-left: 29px;
      font-family: Inter;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      color: #0a3465;
    }
    .menu__icon {
      padding-right: 29px;
      .menu__searchClose {
        margin-left: 700px;
        margin-top: 25px;
        cursor: pointer;
        position: relative;
      }

      .menu__searchInput {
        position: absolute;
        outline: none;
        padding-left: 29px;
        padding-right: 100px;
        background: #f9fafd;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #798fa8;

        width: 650px;
        height: 67px;
      }
      .menu__searchIcon {
        padding-top: 21px;
        cursor: pointer;
        margin-right: 26px;
        &:hover {
          opacity: 0.5;
        }
      }
      .menu__createIcon {
        padding-top: 21px;
        margin-right: 26px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
      .menu__userIcon {
        padding-top: 21px;
        cursor: pointer;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .article {
    cursor: pointer;
    border-bottom: 1px solid #f9f9f9;
    border-left: 1px solid #f9f9f9;
    width: 750px;
    height: 210px;
    &:hover {
      border-left: 4px solid #13315e;
      background: rgba(138, 164, 183, 0.03);
    }

    &__content {
      padding-left: 30px;
      display: flex;
      justify-content: space-between;
      .article__textContent {
        .article__header {
          padding-top: 20px;
          font-family: Nunito;
          font-style: normal;
          font-weight: 800;
          font-size: 20px;
          line-height: 30px;
          color: #080b0e;
        }
        .article__discription {
          padding-top: 2px;
          max-width: 600px;
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 24px;
          color: #898c90;
        }
        .article__dateContainer {
          display: flex;
          padding-top: 18px;
          font-family: Inter;
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          color: #898c90;
          .article__viewsIcon {
            padding-top: 5px;
            padding-left: 43px;
            width: 17px;
            height: 12px;
          }
          .article__views {
            padding-left: 5px;
          }
        }
      }
      .article__imgContent {
        .article__img {
          border: 1px solid white;
          margin-top: 30px;
          margin-left: 40px;
          margin-right: 20px;
          border-radius: 10px;
          -moz-border-radius: 10px;
          -webkit-border-radius: 10px;
          width: 130px;
          height: 130px;
        }
      }
    }
  }
}
