@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
.create {
  width: 602px;
  padding-top: 80px;
  padding-left: 220px;
  .header {
    &__context {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 100%;
      color: red;
    }
    &__input {
      width: 602px;
      height: 52px;
      color: red;
      font-family: Inter;
      font-style: normal;
      font-weight: 800;
      font-size: 42px;
      line-height: 52px;
      color: #d7d7d7;
      border: none;
      outline: none;
      resize: none;
    }
  }

  .description {
    margin-top: 25px;
    &__context {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 100%;
      color: red;
    }
    &__header {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #0a3465;
      padding-bottom: 5px;
    }
    &__input {
      width: 602px;
      height: 90px;
      border: 1px solid #eceef1;
      box-sizing: border-box;
      border-radius: 10px;
      outline: none;
      padding-left: 5px;
      padding-right: 5px;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #000000;

      resize: none;
    }
  }

  .formLink {
    margin-top: 30px;
    .container {
      display: flex;
      &__context {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        color: red;
      }
      &__header {
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #0a3465;
        padding-bottom: 7px;
      }
      &__form {
        padding-top: 6px;
        width: 450px;
        height: 45px;
        resize: none;

        outline: none;
        background: #ffffff;
        border: 1px solid #eceef1;
        box-sizing: border-box;
        border-radius: 10px;
        padding-left: 5px;
        padding-right: 5px;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        color: #000000;
      }
      .btn {
        &__button {
          width: 145px;
          height: 45px;
          margin-top: 31px;
          margin-left: 15px;
          background: #6fcf97;
          border-radius: 12px;
          opacity: 0.3;

          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #ffffff;
          cursor: pointer;
        }
      }
    }
  }
  .textForm {
    margin-top: 30px;
    width: 602px;
    &__context {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 100%;
      color: red;
    }
    &__header {
      font-family: Inter;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #0a3465;
      padding-bottom: 9px;
    }
    &__text {
      width: 602px;
      height: 350px;
      border: 1px solid #eceef1;
      box-sizing: border-box;
      border-radius: 10px;
      outline: none;
      padding-left: 5px;
      padding-right: 5px;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      color: #000000;
      resize: none;
    }
  }
  .btnPost {
    float: right;
    margin-top: 26px;
    width: 160px;
    height: 45px;
    background: #ffdf36;
    border-radius: 12px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #68572d;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
  }
}
